@charset "utf-8";

form{
    width: 100%;
    text-align: center;
    margin: 1% auto;
}

legend{
    background-color: #89A730;
    color: white;
    font-size: 3vw;
    border-radius: 10px;
    text-align: center;
}

textarea{
    margin: auto;
    position: relative;
    width: 80%;
}

span{
    background-color:white;
    text-align: center;
    color: gray;
    border: 5px solid white;
}

input{
    text-align: center;
    display: block;
    margin: 0 auto 5% auto;
    border-radius: 10px;
}

p{
    display: block;
    text-align: center;
    font-size: 2vw;
}

fieldset{
    position: relative;
    display: inline-grid;
    width: 35%;
    background-color: #E4E4D9;
    border-radius: 10px;
    margin-bottom: 5%;
}

#button{
    width: 30%;
}