@charset "utf-8";

form{
    width: 60%;
    text-align: center;
    margin: 1% auto;
}

fieldset{
    background-color: #E4E4D9;
}

legend{
    background-color: #89A730;
    color: white;
    font-size: 3vw;
    border-radius: 10px;
    text-align: center;
}

text-area{
    margin: auto;
}

span{
    background-color:white;
    text-align: center;
    color: gray;
    border: 5px solid white;
}

input{
    text-align: center;
    display: block;
    margin: 0 auto 5% auto;
}

p{
    display: block;
    text-align: center;
    font-size: 2vw;
}