@charset "utf-8";

/*importando fonte do fonts.google.com Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
padding:0; margin:0; vertical-align:baseline; list-style:none; border:0; font-size: 2vw; text-decoration:none; font-family: Roboto;
}

a{
    color: white;
}

/*estilo para todas as divs que separam partes princiapis do site: cabeçalho, interface, aside e rodapé*/
.toda_div{
    width: 80%;
    margin: 1% auto 0 auto;
    border-radius: 20px;
    background-color: #E4E4D9;
}

/*Cabeçalho do site --menu*/
#cabecalho{
    background-color: #89A730;  
    margin-top: 0%;
}

#logo{
    position: relative;
    display: inline-block;
    margin-left: 5%;
}

#logo img{
    padding: 5%;
    border-radius:50%;
    width: 80%;
    height: 80%;
}

#menu{
    display: inline-block;
	position: relative;
    text-align: right;
    width: 70%;
}

#menu li{
    display: inline-block;
    padding: 5px;
}

#menu li a:hover{
    color: white;
    text-decoration: underline;
}

#menu li a:visited{
    color: white;
}

#drop_menu{
    display: none;
    margin-left: 50%;
    width: 10%;
}

#drop_menu button{
    background-color: #89A730;
}

#drop_menu img{
    width: 100%;
}

#drop_link{
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0%;
    padding-top: 3%;
    top: 1%;
    position: absolute;
    background-color: black;
    opacity: 70%;
    border: 3px solid white;
    padding: 0.5%;
    border-radius: 10px 10px;
    
}

#drop_link a{
    color: white;
    font-size: 20px;
}

#btn_fechar{
    left: 42%;
    padding: 1%;
    font-size: 30px;
    position: relative;
}

/*Estilo para telas de tablet*/
@media screen and (max-width: 860px){
    #menu{display: none;}/*O menu "normal" some*/
    #drop_menu{display: inline-block;}/*mostro o menu para telas pqns*/
    .toda_div{width: 95%;}/*defino um novo tamanho para as divs*/
    #logo img{width: 85%; height: 85%; padding: 3%;}/*novo tamanho para logo*/
    #rodape div{width: 45%;}/*novo tamanho para as divs do rodapé*/
    #rodape h1{font-size: 15px;}
    #rodape a{font-size: 12px;}
}

/*interface do sistema --do carrossel até os produtos*/
#interface{
    padding-top: 1%;
    border-radius: 10px 10px 0 0;
}

#interface h1{
    background-color: #89A730;
    width: 45%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 3vw;
    margin: 0 auto;
}

/*Carrossel*/
#carrossel{
    width: 100%;
    margin: 0 auto 75px auto;
    padding: 2%;
    padding-top: 5%;
}

/*Interface -> Produtos*/
#produtos{
    margin: 0 auto;
    text-align: center;
}

.produto{
    margin: 5% auto 5% auto;
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    width: 35%;
}

#produto1{
    margin-right: 5%;
}

.produto img{
    width: 80%;
    padding-top: 5%;
}

/*estilo do formulario e mapa*/

/*estilo do form*/
#form{
    background-color: #89A730;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}

#form legend{
    padding: 2%;
    color: white;
}

#form input{
    display: inline;
    background-color: white;
    text-align: center;
    color: #89A730;
    padding: 1%;
    width: 35%;
    border-radius: 10px;
}

#form ::placeholder{
    color: #89A730;
    font-size: 100%;
}

#form button{
    background-color: #262320;
    color: white;
    padding: 1%;
    border-radius: 10px;
}

/*estilo do mapa*/

#map{
    background-color: #89A730;
    margin: 1% auto 0 auto;
    width: 100%;
    height: 150%;
    padding: 2%;
}

/*estilo do rodapé*/
#rodape{
    padding: 2%;
    text-align: center;
}

.rodape a{
    color: #262320;
    font-size: 1.5vw;
}

/*as Ids não são alteradas pelas media query(mas, dá para usar usar o #index(que eu preferi não usar)*/
#rodape a:hover{
    color: black;
    text-decoration: underline;
}

.rodape{/*estilo para as divs do radapé*/
    position: relative;
    display: inline-grid;
    width: 30%;
    text-align: center;
}

.rodape h1{
    color: #262320;
    font-size: 2vw;
}

.logo{
    display: inline-block;
    margin: 0 auto;
}

.logo img{
    width: 20%;
}

#atendimento img{
    width: 100%;
    height: 100%;
}