#interface{
    background-color: white;
    text-align: center;
}

#interface h1{
    font-size: 2vw;
    width: 70%;
}

#interface div{
    text-align: center;
    display: block;
}

iframe{
    position: relative;
    width: 350px;
    height: 190px;
}

@media screen and (max-width: 530px){
    iframe{
        width: 255px;
        height: 220px;
    }

    #div_mapa img{
        width: 80%;
    }
}