#interface{
    width: 80%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

#interface h1{
    font-size: 2vw;
}

#interface div{
    text-align: center;
    margin: 30px auto;
    display: inline-grid;
}

#mapa_div img{
    width: 100%;
}

/*estilo celular*/
@media screen and (max-width: 530px){
    /*mudando a margin da interface*/
    #interface div{
        margin: 0;
    }

    #iframe{
        width: 100%;
    }
}

.iframe{
    width: 50%;
    height: 100%;
}

iframe{
    border: none;
    overflow: hidden;
    width: 80%;
    height: 250px;
    margin: 0 auto;
}

#interface h1{
    width: 70%;
}