#interface{
    width: 80%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

#interface h1{
    font-size: 2vw;
}

#interface div{
    text-align: center;
    margin: 30px auto;
    display: inline-grid;
}

#mapa_div img{
    width: 100%;
}
#interface h1{
    width: 70%;
}