<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="css/estilo.css" rel="stylesheet" type="text/css">
    <link href="css/footer.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Aqui ficará o rodapé-->
    <footer>
        <div id="rodape" class="toda_div">
            <div class="rodape" id="institucional">
                <h1>Institucional</h1>
                <p><a href="quem_somos.html">Quem Somos?</a></p>
                <p><a>Onde Estamos?</a></p>
            </div>

            <div class="rodape" id="rede_social">
                <h1>Redes Sociais</h1>
                <div id="rede_img" class="logo">
                    <picture>
                        <a href="https://api.whatsapp.com/send?phone=555514988027050&text=Oi!!!%20Tudo%20bem%3F%20Gostaria%20de%20saber%20mais%20sobre%20os%20seus%20produtos."
                            target="_blank"><img src="img/rodape/whatsapp.png" alt="Whatsapp"></a>
                    </picture>

                    <picture>
                        <a href="https://www.facebook.com/people/Eco-Ville-Pet/100084975432074/" target="_blank"><img src="img/rodape/facebook.png" alt="Facebook"></a>
                    </picture>

                    <picture>
                        <a href="https://www.instagram.com/eco_ville_pet/?igshid=YmMyMTA2M2Y%3D" target="_blank"><img
                                src="img/rodape/instagram.png" alt="Instagram"></a>
                    </picture>
                </div>
            </div>

            <div class="rodape" id="seguranca">
                <h1>Segurança</h1>
                <picture>
                    <img src="img/rodape/selo_seguranca.png" alt="Selo de Segurança">
                </picture>
            </div>

            <div class="rodape">
                <h1>Centrais de Atendimento</h1>
                <picture>
                    <img src="img/rodape/brasao_cartao.jpg" alt="Brasão de Cartões">
                </picture>
            </div>
        </div>
    </footer>
</body>
</html>